<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDi2P-v3GAaI-15W59fFe_Mrp3Y-BWJhTc</string>
	<key>GCM_SENDER_ID</key>
	<string>305482827888</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gmail.sashasolo23.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messanger-49b24</string>
	<key>STORAGE_BUCKET</key>
	<string>messanger-49b24.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>New item</key>
	<string></string>
	<key>GOOGLE_APP_ID</key>
	<string>1:305482827888:ios:4dbcf5842ee54310ab4cb5</string>
</dict>
</plist>
